a{
  text-decoration: none;
}

.about {
  height: 568px;
  background-color: #fafafb;
  border: 2px;
  padding: 30px;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}
.about_content{
  text-align: center;
}

.about_content--text {
  width: 50%;
  height: 128px;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  color: #414753;
  display: inline-block;
  margin-bottom: 40px;
}

.about_content--title {
  height: 33px;
  margin: 50px;
  font-size: 28px;
  font-weight: bold;
  color: #6370c5;
}

.landing-button {
  padding: 25px;
  border-radius: 40px;
  background-color: #6370c5;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}
