a{
  text-decoration: none;
}

.about {
  background-color: #fafafb;
  border: 2px;
  padding: 30px;
  box-sizing: border-box;
}

.about_content{
  text-align: center;
}

.about_content--text {
  width: 50%;
  height: 128px;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  color: #414753;
  display: inline-block;
  margin-bottom: 40px;
}

.about_content--title {
  height: 33px;
  margin: 50px;
  font-size: 28px;
  font-weight: bold;
  color: #6370c5;
}
