.contact {
  background-color: #453d5f;
  text-align: center;
  box-sizing: border-box;
  padding: 5% 0;
}

.contact_column {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: left;
  margin: 5% 1%;
}

.contact_container {
  width: 80%;
  color: #ffffff;
  text-align: center;
  display: inline-block;
}

.contact_row {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.contact_column--text{
  height: 250px;
}

.contact_column--title {
  font-weight: bold;
  font-size: 22px;
  height: 70px;
}

.contact_column--feature {
  margin-top: 2%;
}

.contact_column--big {
  font-size: 22px;
}

.contact_icon {
  margin-left: 20px;
}

@media screen and (min-width: 900px) {
  .contact_column {
    width: 30%;
  }
}
