.content {
  padding: 50px;
  height: 1500px;
  font-family: 'Raleway', sans-serif;
  border-width: medium;
  border-style: solid;

}

.content_container {
  width: 45%;
  float: left;
  margin: auto;
}

.content_element {

}
