.footer {
  background-color: #312f38;
  padding: 3% 5%;;
  box-sizing: border-box;
  text-align: right;
}

.footer_navigate {
  box-sizing: border-box;
  text-align: right;
}

.footer--back {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: solid 2px #ffffff;
  padding: 22px;
  color: #ffffff;
  box-sizing: border-box;
  display: inline-block;
  margin: 30px;
}
