.footer {
  background-color: #312f38;
  padding-top: auto;
  padding-right: 5%;
  box-sizing: border-box;
  display: flex;
  justify-content:flex-end;
  align-items:center;
}

.footer_navigate {
  display: flex;
  justify-content:flex-end;
  align-items:center;
}

.footer--back {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: solid 2px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: 50px;
}
