@import url('https://fonts.googleapis.com/css?family=Raleway');

@media all and (-webkit-min-device-pixel-ratio: 2), all and ( min--moz-device-pixel-ratio: 2), all and ( -o-min-device-pixel-ratio: 2/1), all and ( min-device-pixel-ratio: 2) {
    .footer-up {
      background-image: url('../assets/header@2x.png');
    }
  }

.header {
  height: 1000px;
  background-image: url('../assets/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

.header-space{
  height: 40%;
}

.header_button {
  border-radius: 40px;
  background-color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: #6370c5;
  padding: 25px;
  margin-top: 40px;
  display: inline-block;
}

.buttons {
  float: right;
  padding: 50px;
}

.button-navigate {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  margin: 30px;
  display: inline-block;
}
.header-text{
  text-align: center;
  color: #ffffff;
  margin: 30px;
}

.header-text--big {
  font-size: 42px;
  font-weight: 500;
}

.header-text--small {
  font-size: 22px;
  font-weight: 300;
}
