@font-face {
font-family: 'Snickles';
src: url('../assets/Snickles.ttf');
}

@media all and (-webkit-min-device-pixel-ratio: 2), all and ( min--moz-device-pixel-ratio: 2), all and ( -o-min-device-pixel-ratio: 2/1), all and ( min-device-pixel-ratio: 2) {
    .specialist {
      background-image: url('../assets/specialist@2x.png');
    }
  }

.specialist {
  height: 706px;
  background-image: url('../assets/specialist.png');
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  padding: 5% 15%;
}

.specialist_description {
  text-align: center;
  width: 85%;
  margin: 1%;
  margin-top: 50px;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
}

.specialist_column {
  text-align: left;
  width: 48%;
  float: left;
  margin: 1%;
  display: inline-block;
}

.specjalist_header {
  font-size: 28px;
  font-weight: bold;
}

.specjalist_image {
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 40px;
}

.specjalist_image--active {
  width: 80px;
  height: 80px;
  margin: 10px 20px;
}

.specjalist_image--inactive {
  width: 65px;
  height: 65px;
  opacity: 0.5;
}
