@font-face {
font-family: 'Snickles';
src: url('../assets/Snickles.ttf');
}

@media all and (-webkit-min-device-pixel-ratio: 2), all and ( min--moz-device-pixel-ratio: 2), all and ( -o-min-device-pixel-ratio: 2/1), all and ( min-device-pixel-ratio: 2) {
    .specialist {
      background-image: url('../assets/specialist@2x.png');
    }
  }

h1{
  font-family: 'Snickles', sans-serif;;
  font-size: 36px;
  color: #ffffff;
  float: right;
}

.specialist {
  height: 706px;
  background-image: url('../assets/specialist.png');
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  padding: 5% 15%;
  font-size: 28px;
  font-weight: bold;
}

.specialist_title {
  
}

.specialist_description {
  text-align: left;
  width: 43%;
  float: left;
  margin: 3%;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
}

.specialist_button {
  border-radius: 40px;
  background-color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: #6370c5;
  padding: 25px;
  margin-top: 40px;
  display: inline-block;
  border-style: solid;
  border-width: 5px;
}
